img {
  animation-name: bird; 
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bird {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
